@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

:root {
  --header-height: 3.5rem;

  /*========== My Custom Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(219, 69%, 56%);
  --first-color-alt: hsl(219, 69%, 52%);
  --title-color: hsl(219, 8%, 95%);
  --text-color: hsl(219, 8%, 75%);
  --text-color-light: hsl(219, 4%, 55%);
  --white-color: #fff;
  /* --body-color: hsl(219, 4%, 4%); */

  --body-color: hsl(0, 0%, 0%);
  --container-color: hsl(219, 4%, 7%);

  /*========== My Custom Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Kode Mono", monospace;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE CSS ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1024px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h2-font-size);
  text-align: center;
  margin-bottom: 2.5rem;
}

.main {
  overflow: hidden;
}

/* ======== Shape X Design ======*/

.shapeX {
  background-color: hsla(219, 33%, 32%, 0.5);
  filter: blur(112px);
  border-radius: 50%;
}
.shape__big {
  width: 400px;
  height: 400px;
}
.shape__small {
  width: 300px;
  height: 300px;
}

.shape__smaller {
  width: 180px;
  height: 180px;
  filter: blur(64px);
}

/*=============== Cart ===============*/

.Card__container {
  padding-top: 1rem;
}

.swiper-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 34px;
  align-content: space-between;
}

.Card__card {
  position: relative;
  width: 238px;
  background-color: var(--container-color);
  padding: 2rem 1.5rem 1.5rem;
  border-radius: 1rem;
  margin-bottom: 3.5rem;
  overflow: hidden;
}
.Card__card .shape__smaller {
  position: absolute;
  top: -2.5rem;
  left: -2.5rem;
}

.Card__title,
.Card__subtitle,
.Card__img {
  position: relative;
}
.Card__title {
  font-size: var(--h2-font-size);
  margin-bottom: 0.25rem;
}
.Card__subtitle {
  font-size: var(--normal-font-size);
  color: var(--text-color);
  font-weight: 400;
}
.Card__img {
  width: 160px;
  margin: 0.75rem 0 1.25rem 1.5rem;
  transition: 0.3s;
}
.Card__data {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 0.5rem 1.25rem;
  margin-bottom: 2rem;
}
.Card__data-group {
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  font-size: var(--smaller-font-size);
  color: var(--white-color);
}
.Card__data i {
  font-size: 1rem;
}
.Card__price {
  font-size: var(--h3-font-size);
}
.Card__button {
  border: none;
  outline: none;
  padding: 0.75rem 1rem;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 1rem 0 1rem 0;
  cursor: pointer;
}

.Card__button:hover {
  background: blue;
  color: white;
}

.Card__card:hover .Card__img {
  transform: translateY(-0.5rem);
}

.Card__card:hover {
  box-shadow: 0 1px 1px rgba(255, 255, 255, 0.15), 0 2px 2px rgba(255, 255, 255, 0.15),
    0 4px 4px rgba(255, 255, 255, 0.15), 0 8px 8px rgba(255, 255, 255, 0.15);
}

/*=============== SCROLL BAR ===============*/

::-webkit-scrollbar {
  width: 0;
}

@media screen and (min-width: 1040px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }

  .Card__container {
    width: 875px;
    padding-top: 3rem;
  }
  .Card__card {
    width: 258px;
    border-radius: 1.15rem;
    margin-bottom: 5rem;
  }
  .Card__img {
    width: 180px;
    margin: 0.75rem 0 1.25rem 2rem;
  }
}
